/* TODO: Change px to rem */
* {
  font-family: "JetBrains Mono Nerd Font";
  /*font-family: "JetBrainsMono Nerd Font";*/
  font-weight: bold; 
  font-size: 17px;
}

#custom-notification {
  font-family: "JetBrains Mono Nerd Font";
  font-size: 17px;
  color: #A1BDCE;
  margin: 0;
  padding-bottom: 1px;
  margin-left: 3px;
}

window#waybar {
  background: #0F0F17; 
  /*  border-radius: 15px; */
  /*  border: 2px solid #124323; */
  /* border: 0px solid #A1BDCE; */
  border: 3px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

tooltip {
  background: #171717;
  color: #A1BDCE;
  font-size: 13px;
  border-radius: 7px;
  border: 2px solid #101a24;
}

#custom-ws {
  color: #F5E0DC;
  background: #0F0F17;
  border-radius: 10px;
  margin: 5px 3px;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
}

#custom-left1 {
  color: #181825;
  background: #0F0F17;
  padding-left: 2px;
  font-size: 15pt;
  margin: 5px 0;
  text-shadow: -2px 0 2px rgba(0, 0, 0, 0.5);
}

#custom-right1 {
  color: #181825;
  background: #0F0F17;
  text-shadow: 3px 0 2px rgba(0, 0, 0, 0.4);
  font-size: 15pt;
  margin: 5px 0;
  padding-right: 3px;
}

#workspaces {
  background: #181825;
  color: #F5E0DC;
  margin: 5px 0;
  padding: 0 4px;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
}

#workspaces button {
  color: #F5E0DC;
  border-radius: 8px;
  box-shadow: none;
  margin: 2px 0;
  padding: 0 2px;
  transition: none;
}

#workspaces button:hover {
  color: rgba(205, 214, 244, 0.75);
  background: #313244;
  text-shadow: none;
  box-shadow: none;
}
#workspaces button.active {
  color:  #11111b;
  background:  #9399b2;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
  margin: 2px;
  padding: 0 6px;
}

#tray menu * {
  min-height: 16px;
  font-weight: bold;
  font-size: 13px;
  color: #9488e3;
}

#tray menu separator {
  min-height: 10px;
}

#custom-spacer {
  opacity: 0.0;
}

#custom-smallspacer {
  opacity: 0.0;
}

#backlight {
  color: #2096C0;
  background: rgba(23, 23, 23, 0.0);
  font-weight: normal;
  font-size: 19px;
  margin: 1px 0px 0px 0px;
  padding-left: 0px;
  padding-right: 2px;
}

#bluetooth {
  color: #E6E7E7;
  background:  #161320;
  opacity: 1;
  margin: 4px 0px 4px 0px;
  padding-left: 4px;
  padding-right: 4px;
}

#battery {
  font-weight: normal;
  font-size: 22px;
  color: #a6d189;
  background:  rgba(23, 23, 23, 0.0);
  opacity: 1;
  margin: 0px 0px 0px 0px;
  padding-left: 0px;
  padding-right: 0px;
}

#idle_inhibitor {
  color: #24966e;
  background: @bar-bg;
  opacity: 1;
  margin: 4px 0px 4px 0px;
  padding-left: 5px;
  padding-right: 4px;
}

#clock {
  color: #A1BDCE;
  font-size: 15px;
  font-weight: 900;
  font-family: "JetBrains Mono Nerd Font";
  background: rgba(23, 23, 23, 0.0);
  opacity: 1;
  margin: 0;
  padding-right: 10px;
  border: none;
}

#pulseaudio {
  font-weight: normal;
  font-size: 18px;
  color: #6F8FDB;
  background:  rgba(22, 19, 32, 0.0);
  opacity: 1;
  margin: 0px 0px 0px 0px;
  padding-left: 5px;
}

#cpu {
  font-weight: normal;
  font-size: 20px;
  color: #915CAF;
  margin: 0;
  padding: 7px 0 0 0;
}

#power-profiles-daemon {
  margin: 0;
  padding-bottom: 3px;
}

#power-profiles-daemon.performance {
  color: #FF333F;
}

#power-profiles-daemon.balanced {
  color: #E4C9AF;
}

#power-profiles-daemon.power-saver {
  color: #24966E;
}

#memory {
  font-weight: normal;
  font-size: 20px;
  color: #E4C9AF;
  margin: 0;
  padding: 7px 0 0 10px;
}

#custom-cputemp {
  margin: 0;
}

#mpris {
  color: white;
  animation: repeat;
	animation-name: blink;
	animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    color: #4a4a4a;
  }
}

#network {
  color: #A1BDCE;
  font-weight: normal;
  font-size: 19px;
  padding-right: 0px;
  padding-left: 10px
}

#custom-notifications {
  color: #E8EDF0;
  background:  rgba(23, 23, 23, 0.0);
  margin: 0;
  padding-left: 1px;
  padding-right: 1px;
  opacity: 0.1
}

#tray,
#window {
  color: #A1BDCE;
  font-family: "Martian Mono";
}

#custom-l_end,
#custom-r_end,
#custom-sl_end,
#custom-sr_end,
#custom-rl_end,
#idle_inhibitor {
  color: #a6d189;
}

#mpris{
  font-size: 15px;
  font-weight: bold
}
#custom-rr_end {
  font-weight: normal;
  color: #E8EDF0;
  background:  rgba(23, 23, 23, 0.0);
  opacity: 1;
  margin: 0px 0px 0px 0px;
  padding-left: 4px;
  padding-right: 4px;
}

#backlight-slider slider,
#pulseaudio-slider slider {
  background: #A1BDCE;
  background-color: transparent;
  box-shadow: none;
  margin-right: 7px;
}

#backlight-slider trough,
#pulseaudio-slider trough {
  margin-top: -3px;
  min-width: 90px;
  min-height: 10px;
  margin-bottom: -4px;
  border-radius: 8px;
  background: #343434;
}

#backlight-slider highlight,
#pulseaudio-slider highlight {
  border-radius: 8px;
  background-color: #2096C0;
}

#battery.charging, #battery.plugged {
	color: #E8EDF0;
	
}

#battery.critical:not(.charging) {
  color: red;
}

#custom-r_end {
  border-radius: 0px 7px 7px 0px;
  margin-right: 1px;
  padding-right: 3px;
}

#custom-l_end {
  border-radius: 7px 0px 0px 7px;
  margin-left: 1px;
  padding-left: 3px;
}

#custom-sr_end {
  border-radius: 0px;
  margin-right: 1px;
  padding-right: 3px;
}

#custom-sl_end {
  border-radius: 0px;
  margin-left: 1px;
  padding-left: 3px;
}

#custom-rr_end {
  border-radius: 0px 7px 7px 0px;
  margin-right: 1px;
  padding-right: 3px;
}

#custom-rl_end {
  border-radius: 7px 0px 0px 7px;
  margin-left: 1px;
  padding-left: 3px;
}
